<template lang="pug">
input(type="text", :placeholder="config.data.placeholder", :class="getClasses()")
</template>

<script>
export default {
    name: 'InputField',
    props: ['config'],
    data() {
        return {
            msg: 'Welcome to Your Vue.js  asdasd App'
        }
    },
    methods: {
        getClasses() {
            const {
                baseClasses
            } = this.config.style
          return baseClasses.join(" ")
        }
    }
}
</script>

<style lang="scss">

</style>
