<template lang="pug">
div(class="ph2")
    h1 Startsidan
    div
        router-link(to="/me/favourites", class="router-btn") Mina favoriter
        input(type="text",
        style="box-shadow: 0px 0px 15px 1px rgba(69,65,78,0.2);", 
        class="f6 bg-white pv3 ph3 w-100 br2 bn", 
        placeholder="Sök", 
        v-model="searchKey",
        @input="doSearch()"
        )
    ul
        li(v-for="item in searchItems")
            SearchImg(:item="item")
</template> 

<script>
import {
    mapState
} from 'vuex'
import SearchImg from '../components/SearchImg'

const SEARCH_URL = 'http://localhost:3000/search'
const token = localStorage.getItem('user_token')

const headers = new Headers({
    'Authorization': `Bearer ${token}`
})

export default {
    name: 'Homepage',
    components: {
        SearchImg
    },
    data() {
        return {
            searchKey: '',
            images: [],
            show: false,
        }
    },
    computed: mapState({
        searchItems: state => state.searchItems,
    }),
    methods: {
        doSearch() {
            this.$store.dispatch("search", this.searchKey, 0)
        }
    },
    created() {
        this.$store.dispatch('getUserFavourites')
    }
}
</script>

<style lang="scss" scoped>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.router-btn {
    padding: .75em 1rem;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1em;
    line-height: 1.5;
    color: #34bfa3;
    text-decoration: none;
    border: 1px solid #34bfa3;
    border-radius: 5px; 
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}

li {
    display: inline-block;
    margin: 0;
}

li img {
    width: 100% !important;
    height: 100%;
}

a {
    color: #42b983;
}
</style>
