<template lang="pug">
div
    img(:src="imageUrl")
    div(class="pv3 ph3")
      i(v-if="isFav(imageID)", class="far fa-heart mr2 red", @click="toggleFavourite(imageID)")
      i(v-else, class="far fa-heart mr2", @click="toggleFavourite(imageID)")
      router-link(:to="'/images/' + imageID") Mer info
    ul 
      li(v-for="(value, key) in metadata") <strong>{{handleKey(key)}}</strong>:: {{handleValue(value)}}
</template>

<script>
import {
    mapState
} from 'vuex'
import xor from 'lodash.xor'
import SearchImg from '../components/SearchImg'

const token = localStorage.getItem('user_token')

const headers = new Headers({
    'Authorization': `Bearer ${token}`
})

const IMAGES_URL = 'http://localhost:3000/images'

export default {
    name: 'ImageView',
    props: ['image'],
    components: {
        SearchImg
    },
    computed: mapState({
        userFavouritesIDs: state => state.userFavouritesIDs,
    }),
    data() {
        return {
            imageID: '',
            imageUrl: '',
            metadata: []
        }
    },
    methods: {
        toggleFavourite(imageID) {
            const newFavourites = xor(this.userFavouritesIDs, [imageID])
            this.$store.commit('SET_FIELD', {
                fieldName: 'userFavouritesIDs',
                value: newFavourites
            })
            this.$store.dispatch('updateUserFavourites')
        },
        isFav(imageID) {
            return this.userFavouritesIDs.includes(imageID)
        },
        handleKey(key) {
            return key;
        },
        handleValue(value) {
            return Array.isArray(value) ?
                value.join(", ") :
                value
        }
    },
    created() {
        this.$store.dispatch('getUserFavourites')
        fetch(`${IMAGES_URL}/${this.$route.params.id}`)
            .then(res => res.json().then(res => {
                this.imageID = res.data.id
                this.imageUrl = res.data.attributes.image_url
                this.metadata = res.data.attributes.metadata
        }))
    }
}
</script>

<style lang="scss" scoped>
ul {
    display: flex;
    flex-direction: column;
}
</style>
