<template lang="pug">
div(class="flex justify-center items-center flex-column")
    h1 Logga in
    div(v-if="errors.length" v-for="err in errors")
        div {{ err }}
    input(type="text", id="email", v-model="email")
    input(type="password", id="password", v-model="password")
    button(type="text" style="margin-top: 1rem;" class="pointer" @click="handleLogin()") Logga in
</template>

<script>
var LOGIN_URL = 'http://localhost:3000/login'

export default {
    name: 'Login',
    components: {},
    methods: {
        authenticateUser(url, email, password) {
            return fetch(url, {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                },
                body: JSON.stringify({
                    email,
                    password
                })
            })
        },
        handleLogin() {
            const self = this
            if (!this.email && !this.password)
                this.errorMessage = 'Du behöver ange ditt e-post och lösenordet'
            this.authenticateUser(LOGIN_URL, this.email, this.password)
                .then(res => {
                    if (res.status !== 200) {
                        res.json().then(errors => {
                            this.errors = errors.map(err => err.details)
                        })
                    } else {
                        res.json().then(data => {
                            window.localStorage.setItem("user_token", data.token)
                            console.log(localStorage.getItem("user_token"))
                            self.$router.replace({
                                name: 'home'
                            })
                        })
                    }
                })
                .catch(err => {
                    console.log("err", err);
                })
        }
    },
    data() {
        return {
            errors: '',
            email: '',
            password: '',
            passwordConfig: {
                data: {
                    placeholder: 'Lösenord'
                },
                style: {
                    baseClasses: ['f6', 'pv2', 'ph3']
                }
            },
            emailConfig: {
                data: {
                    placeholder: 'E-post',
                },
                style: {
                    baseClasses: ['f6', 'pv2', 'ph3']
                }
            },
            msg: 'Welcome to Your Vue.js App'
        }
    }
}
</script>

<style lang="scss">
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}
</style>
