<template lang="pug">
div(class="ph2")
    h1 Mina favoriter
    ul
        li(v-for="item in userFavourites" :key="item.id")
            SearchImg(:item="item")
</template>

<script>
import {
    mapState
} from 'vuex'
import SearchImg from '../components/SearchImg'

const SEARCH_URL = 'http://localhost:3000/search'
const token = localStorage.getItem('user_token')

const headers = new Headers({
    'Authorization': `Bearer ${token}`
})

export default {
    name: 'MyFavs',
    components: {
        SearchImg
    },
    data() {
        return {
            searchKey: '',
            images: [],
            show: false,
        }
    },
    computed: mapState({
        userFavourites: state => state.userFavourites
    }),
    methods: {
    },
    created() {
        this.$store.dispatch('getUserFavourites')
    }
}
</script>

<style lang="scss" scoped>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}

li {
    display: inline-block;
    margin: 0;
}

li img {
    width: 100% !important;
    height: 100%;
}

a {
    color: #42b983;
}
</style>
