<template>
<div>
        <img :src="item.attributes.image_url" v-img>
        <div class="pv3 ph3 bg-white" style="-webkit-box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.75);
box-shadow: -1px 3px 5px -1px rgba(0,0,0,0.75);">
            <i v-if="isFav(item.id)" class="far fa-heart mr2 red" @click="toggleFavourite(item.id)"></i>
            <i v-else class="far fa-heart mr2" @click="toggleFavourite(item.id)"></i>
            <router-link :to="'/images/' + item.id">Mer info</router-link>
        </div>
</div>
</template>

<script>
import {
    mapState
} from 'vuex'
import xor from 'lodash.xor'
import Vue from 'vue'
import VueImg from 'v-img';
 
Vue.use(VueImg);

export default {
    name: 'SearchImg',
    props: ['item'],
    computed: mapState({
        userFavouritesIDs: state => state.userFavouritesIDs,
    }),
    data() {
        return {
            
        }
    },
    methods: {
        handleImageClick(imageID, imageURL) {
            this.$router.push({
                path: `/images/${encodeURIComponent(imageID)}`
            })
        },
        isFav(imageID) {
            return this.userFavouritesIDs.includes(imageID)
        },
        toggleFavourite(imageID) {
            const newFavourites = xor(this.userFavouritesIDs, [imageID])
            this.$store.commit('SET_FIELD', {
                fieldName: 'userFavouritesIDs',
                value: newFavourites
            })
            this.$store.dispatch('updateUserFavourites')
        }
    }
}
</script>

<style lang="scss">

</style>
