<template lang="pug">
  div

</template>

<script>
export default {
    name: 'InputField',
    props: ['config'],
    data() {
        return {
            msg: 'Welcome to Your Vue.js  asdasd App'
        }
    },
    methods: {
    }
}
</script>

<style lang="scss">

</style>
